.sidebar__container {
  width: 25rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-1);

  position: fixed;
  top: 0px;
  left: 0;
  z-index: 9999;
  overflow-y: scroll;
}

@media(prefers-color-scheme:dark){
  .sidebar__container{
background-color: var(--background-color);  }
  }

::-webkit-scrollbar {
  width: 5px;
  height: 12px;
}

/* Style the track (part the thumb moves within) */
/* ::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
} */

/* Style the thumb (the draggable part) */
::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
.sidebar__youtubelogo {
  display: flex;
  align-items: center;
  min-height: var(--spacing-7);
  margin: var(--spacing-3) var(--spacing-3);
}

.sidebar__firstblock,
.sidebar__secondblock,
.sidebar__thirdblock {
  display: flex;
  padding: var(--spacing-4) var(--spacing-6);
  gap: var(--spacing-3);
  flex-direction: column;
}

.sidebar_secondblock__you {
  display: flex;
  align-items: center;
  gap: var(--spacing-1);
}

.sidebar--innerblock {
  display: flex;
  gap: var(--spacing-3);
  align-items: center;
}

.sidebar--title {
  font-size: var(--spacing-3);
}

hr {
  width: 90%;
  border: 0.1rem solid grey;
  margin: 0 auto;
}
